@model examenFinal.Cotizacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cotizacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.buque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.buque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.viaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.viaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manifiesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manifiesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCotizacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
